# chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
#!/bin/bash

set -euC
# set -o pipefail

# exec 5>> /tmp/xmosh/shell-script-debug.out
# BASH_XTRACEFD="5"
# PS4='$LINENO: '
# set -x

[[[ if eq .chezmoi.os "linux" -]]]
if command -v gsettings >/dev/null 2>&1
then
  gsettings set org.gnome.desktop.interface font-name 'GTKUI 11'
fi
[[[- end ]]]

exit 0
