# chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
#!/bin/bash

set -euC
# set -o pipefail

config=~/.config/chezmoi/chezmoi.toml

if [ ! -e "$config" ]
then
  cat > "$config" << EOF
[diff]
exclude = ["scripts"]

[status]
exclude = ["scripts"]
EOF
fi

[[[ if has .chezmoi.hostname .hosts.private -]]]

dir=~/.config/chezmoi
key_path="$dir/key.txt"

if [ ! -f "$key_path" ]
then
  mkdir -p "$dir"

  age -d ~/.local/share/chezmoi/key.age > "$key_path"
  public_key=$(
    age-keygen -y "$key_path"
  )

  cat >> "$config" << EOF
encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "${public_key}"
EOF
fi

[[[- end -]]]
