[Unit]
Description=XXXX
RefuseManualStart=no            # yes なら明示的には start できない
RefuseManualStop=yes            # yes なら明示的には stop できない
After=elasticsearch.target
OnFailure=status-email-user@%n.service

[Service]
Type=simple
Type=oneshot

User=%I

ExecStart=/usr/bin/XXXX
ExecStop=/usr/bin/XXXX

PIDFile=/tmp/XXX.PID

[Install]
WantedBy=multi-user.target
