chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
[[[- if eq .chezmoi.os "darwin" -]]]
#!/bin/bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Mirror Display
# @raycast.mode silent

# Optional parameters:
# @raycast.icon 🤖

set -euC
source "$(dirname "$0")/lib-display"

displayplacer "id:$BUILTIN_ID+$EXTERNAL_ID res:$BUILTIN_RES hz:$BUILTIN_HZ color_depth:8 enabled:true scaling:on origin:(0,0) degree:0"
[[[- end -]]]
