chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
[[[- if eq .chezmoi.os "darwin" -]]]
#!/usr/bin/env bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Kitty Window
# @raycast.mode silent

# Optional parameters:
# @raycast.icon 🐱

exec kitty --working-directory ~/
[[[- end -]]]
