chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
[[[- if eq .chezmoi.os "darwin" -]]]
#!/usr/bin/env bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title Clipboard Modify
# @raycast.mode silent

# Optional parameters:
# @raycast.icon 📋

exec ~/bin/clipboard-modify
[[[- end -]]]
