chezmoi:template:left-delimiter="[[[" right-delimiter=]]]
[[[- if eq .chezmoi.os "darwin" -]]]
#!/usr/bin/env bash

# Required parameters:
# @raycast.schemaVersion 1
# @raycast.title nvim-qt
# @raycast.mode silent

# Optional parameters:
# @raycast.icon 💻

# FIXME 一般的な方法でやりたい
source ~/.envrc

exec nvim-qt

[[[- end -]]]
