snippet default
  [Desktop Entry]
  Name=${1}
  Comment=${2}
  Exec=${2}
  Type=Application
  Terminal=false
  # MimeType=inode/directory
  # Categories=Utility;Core;System;FileTools;FileManager;ConsoleOnly
  # Keywords=File;Manager;Explorer;Browser;Launcher
  # Icon=${2}
