snippet component/closer
    import Quickshell
    MouseArea {
        anchors.fill: parent
        onClicked: Qt.quit()
        z: -1
    }

snippet property/forcedscreen
    // For Debug
    property var forcedScreen: null
    Component.onCompleted: {
        console.log("Determining screen for RoundedPanelWindow");
        let screenName = Quickshell.env("QUICKSHELL_SCREEN_NAME");
        if (!screenName) {
            screenName = Hyprland.focusedMonitor?.name;
        }
        for (let screen of Quickshell.screens) {
            if (screen.name === screenName) {
                forcedScreen = screen;
                return;
            }
        }
    }
    screen: forcedScreen

